.idea
build
cmake-build-debug
build-analyze
Testing
*.o
sane_gui
moc_*
.qmake.stash
qrc_qml.cpp
Makefile
*.qmake.stash
*.qmlc
*.jsc
src_qml*
qmlcache*
qrc_src*
*.kate-swp
*backdoor*.cpp
*backdoor*.go
*backdoor*.py
.gitconfig
youtube_api_samples
sanepp_rusty_db/Cargo.lock
lib/sanepp_rusty_db/debug/*
lib/sanepp_rusty_db/.rustc_info.json
!lib/sanepp_rusty_db/debug/libsanepp_rusty_db.so
sanepp_rusty_db/third_party/noria