# IDE
## JetBrains
.idea

# Qt Creator
gui/build-sane_gui-Desktop-Debug
gui/src/*.pro
gui/src/*.pro.user

# Editors
*.kate-swp

#CMake
build
cmake-build-debug
build-analyze
config/config.hpp
*.o

# *Local* git config.
.gitconfig

# Legacy Sane
youtube_api_samples

# Not git ready / on-the-bubble
log_print.cpp
log_print.hpp
