.idea
build
cmake-build-debug
build-analyze
*.o
sane_gui
moc_*
.qmake.stash
qrc_qml.cpp
Makefile
*.qmake.stash
*.qmlc
*.jsc
src_qml*
qmlcache*
qrc_src*
*.kate-swp
*backdoor*.cpp
*backdoor*.go
*backdoor*.py
.gitconfig
youtube_api_samples