__pycache__/

.idea
hotkeys.ini
hotkeys.ini.sample

# Pickles
sane_legacy/resources/pickles/youtube_auth_keys.pkl
sane_legacy/resources/pickles/youtube_oauth.pkl

# Thumbs
sane_legacy/resources/thumbnails/*.png
sane_legacy/resources/thumbnails/*.jpg

# Auth
sane_legacy/resources/client_secret.json
sane_legacy/resources/keys.json
sane_legacy/resources/client_secret.json.old
sane_legacy/resources/keys.json.old

# DB
sane_legacy/resources/permanents.db

sane_legacy/logs/.txt
